$justify:(start:start,center:center,end:end,around:space-around,between:space-between,evenly:space-evenly);
$colores:(primario:#007bff,secundario:#6c757d,terciario:#28a745,danger:#dc3545,warning:#ffc107,info:#17a2b8,light:#f8f9fa,dark:#343a40);
$btn: (
    padding: 10px 20px,
    border: 0,
    border-radius: 5px
);